*{
			margin: 0;
		  	padding: 0;
}
a{
	text-decoration: none;
}
body{
	font-size: 16px;
	background: #EFEFEF;
}
.page{
	width: 100%;
}
.page-top{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10.8vh;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	background: #fff;
	box-shadow: 4px 0 4px 0 #ccc;
}
.page-top a{
	font-size: 36px;
	font-weight: bold;
	color: #E98D0A;
	text-decoration: none;
}
.page-top p{
	color: #888;
}
.page-con{
	display: flex;
	height: 89.2vh;
	margin-top: 10.8vh;
}
.pc-nav{
	position:fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 10vw;
	height: 89.2vh;
	padding-top: 10.8vh;
	background: #fff;
	box-shadow: 4px 0 4px 0 #ccc;
}
.pc-box{
	width: 84vw;	
	margin-left: 13vw;
	padding-bottom: 50px;
}
.nav{
	width: 100%;		
	margin-top: 6vh;
}
.nav a{
	display: block;
	width: 100%;
	text-align: center; 
	padding: 20px 0;
	color: #333;
}
.nav .active .nav a :hover{
	color: #E98D0A;
}
.code{
	width: 100%;
	text-align: center;
	margin-bottom: 5vh;
}
.code img{
	width: 150px;
	height: 150px; 
}
.code p{
	color: #666666;
	font-size: 14px;
	margin-top: 8px;			
}
.home-top{
	display: flex;
	justify-content: space-between;
	<!--width: 1600px;-->	 
	width: 100%;
	margin-top: 30px;
}
.banner{
	<!--width: 1230px;-->
	width: 70%;
	height: 350px;
}
.banner img{
	display: block;
	width: 58.64vw;
	height: 100%; 
	object-fit: cover;
	border-radius: 10px;
}
.user-info{
	width: 23%;
	width: 322px;
	height: 350px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 15px -3px rgba(68, 68, 68, 0.25);
}
.ui-img img{
	display: block;
	width: 100%;
	height: 182px;
}
.ui-text{
	text-align: center;
	margin-top: -60px;
}
.ui-text img{
	width: 120px;
	height: 120px;	
	border: 5px solid yellow;
	border-radius: 50%;
}
.ui-text h3{
	font-size: 20px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.79);
}
.ui-text p{
	color: #999999;
	font-size: 12px;
	margin: 3px 0 15px 0; 
}
.ui-link a{
	display: inline-block;
	width: 72px;
	height: 25px;
	<!-- background: rebeccapurple; -->
	line-height: 25px;
	font-size: 12px;
	border-radius: 3px;
}
.ui-link a:nth-child(1){
	background: #000000;
	border: 1px solid #000;
	color:#fff;
}
.ui-link a:nth-child(2){
	border: 1px solid #000;
	color: #000000; 
}
.zuopin{
	<!--width: 1600px;-->
	width: 100%;
	margin-top: 20px;
}
.common-title{
	font-size: 22px;
	color: #000000;
	padding-left: 10px;
	border-left: 5px solid #000000;
	margin-bottom: 15px;
}
.zuopin-box ul{
	display: flex;		
	flex-wrap: wrap;
	<!--justify-content: space-between;-->
}
.zuopin-box ul li{
	list-style: none;
	width: 23%;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
	margin-right: 2.66%;
}
.zuopin-box ul li:nth-child(4n+4){
	margin-right: 0;
}
.zuopin-box ul li img{
	display: block;
	width: 100%;
	height: 220px;
	object-fit: cover; <!--图像裁剪到合适尺寸-->
}
.zuopin-box ul li p{
	padding: 15px 0;
	text-align: center;
	color: #000;
	font-size: 18px;
}
.sheng-box {
	margin: 30px 0;
}
.sheng-box-list{
	display: flex;
	background: #fff;
	border-radius: 10px;
	padding: 25px 30px; 
	margin-bottom: 20px;
}
.sbl-img img{
	width: 382px;
	height: 251px;
	border-radius: 10px;
	object-fit: cover;
}
.sbl-text{
	margin-left: 30px;
}
.sbl-text h3{
	font-size: 24px;
	color: #000000;
}
.sbl-text p{
	font-size: 18px;
	font-weight: 400;
	color: #666666;
	line-height: 40px;
	margin: 20px 0;
}
.sbl-text span{
	display: flex;
	align-items: center;
	color: #cdcdcd;
	font-size: 18px;
	font-weight: 400;
}
.sbl-text img{
	width: 30px;
	height: 30px;
	margin-right: 5px;
}
.about-page{
	display: flex;
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 3px 5px #ccc;
	margin: 30px 0;
}
.about-page-text{
	width: 60%;
	padding: 38px 64px;
}
.about-page-text h1{
	font-size: 40px;
	font-weight: 400;
	color: #333;
}
.about-page-text p{
	font-size: 2cpx;
	font-weight: 400;
	color:#555;
	line-height: 20px;
	margin-bottom: 10px;
}
.about-page-text p span{
	margin-right: 20px;
}
.about-page-text h2{
	font-size: 24px;
	font-weight: 400;
	color: #333;
	margin: 50px 0 30px;
}
.about-page-img{
	width: 40%;
}
.about-page-img img{
	width: 100%;
	height: 100%;
}
.work-page{
	margin-top: 3px;
}
.contact{
	background: #fff;
	border-radius: 10px;
	margin: 40px 0;
	padding: 40px 35px;
}
.ci-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	background: #f7f7f7;
	padding: 25px;
	margin: 35px 0 57px;
}
.cib-left{
	display: flex;
	align-items: center;
}
.cib-left img{
	width: 136px;
	height: 136px;
	border-radius: 50%;
	object-fit: cover;
} 
.cib-left span{
	color: #555555;
	font-size: 20px;
	font-weight: 400;
	margin-left: 38px;
}
.cib-right img{
	width: 60px;
	height: 60px;
}
.cib-right ul{
	display: flex;
	align-items: center;	
}
.cib-right ul li{
	list-style: none;
	margin-left: 30px;
	font-size: 12px;
	color: #555555;
	text-align: center;
}
.cf form label{
	display: block;
}